body {
    background: #333;
    color: #eee;
    font-family: sans-serif;
}

main {
    max-width: 1280px;
    padding: 1em;
    margin: 0 auto;
    text-align: center;
}

#upload {
    padding: 1em 0;
}


